@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color-links: #fff;
  --color-button: #ff4820;
}

body {
  background: #040c18;
  font-family: "Manrope", sans-serif;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/assets/blur-background.png);
  background-repeat: no-repeat;
  background-position: top left;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--text-color-links);
}

.container {
  display: flex;
  max-width: 1440px;
  margin-top: 55px;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu img {
  margin-right: 69px;
  width: 63px;
  height: 16px;
}

nav {
  margin-right: 237px;
}

ul {
  list-style: none;
  display: flex;
  gap: 54px;
}

ul li a {
  font-size: 18px;
  font-weight: 500;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button a {
  font-size: 18px;
  font-weight: 500;
}

#button-header {
  width: 152px;
  height: 58px;
  background-color: var(--color-button);
  border: none;
  border-radius: 5px;
  margin-left: 26px;
}

.content {
  display: flex;
  align-items: space-between;
  flex-direction: column;
  padding-top: 103px;
}

.content-main {
  display: flex;
}

.title {
  display: flex;
  flex-direction: column;
}

.title h1 {
  font-size: 62px;
  font-weight: 800;
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title h2 {
  font-size: 20px;
  font-weight: 400;
  color: #81afdd;
  padding-top: 33px;
  padding-bottom: 52px;
  max-width: 554px;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  color: #3d6184;
  padding-left: 32px;
  font-size: 20px;
  outline: none;
}

.title input {
  border: none;
  width: 630px;
  height: 63px;
  opacity: 0.3;
  background: #052d56;
}

.input button {
  width: 174px;
  height: 100%;
  background-color: var(--color-button);
  border: none;
  border-radius: 5px;
  color: var(--text-color-links);
  font-weight: 700;
  font-size: 20px;
}

.image-content img {
  width: 668px;
  height: 700px;
  transform: translate(20%, -15%);
}

.persons {
  display: flex;
  margin-top: 38px;
  align-items: center;
}

.persons p {
  margin-left: 14px;
  font-size: 12px;
  color: var(--text-color-links);
}

.companies {
  padding: 79px 0 127px 0;
}

.logos {
  display: flex;
  gap: 47px;
}

.infos {
  max-width: 1170px;
  background-image: url("/assets/blur-infos-top-left.png");
  background-repeat: no-repeat;
  position: top left;
  margin-bottom: 40px;
  position: relative;
  background-color: #042c64;
}

.infos::after {
  content: "";
  background-image: url("/assets/blur-infos-bottom-right.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
}

hr {
  width: 38px;
  height: 3px;
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  border: 0;
  margin-bottom: 8px;
}

.header-info {
  display: flex;
  padding: 57px 73px 90px 73px;
}

.title-info {
  font-size: 24px;
  color: var(--text-color-links);
  font-weight: 800;
  width: 100%;
  /* border-top: 1px solid #3D6184; */
}

.subtitle-info {
  color: #81afdd;
}

.middle-info {
  display: flex;
  padding: 0 57px 92px 57px;
  justify-content: space-between;
  align-items: center;
}

.title-middle {
  font-size: 34px;
  font-weight: 800;
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 470px;
}

.subtitle-middle {
  font-size: 16px;
  font-weight: 500;
  color: #f49867;
  margin-left: auto;
}

.footer-info {
  display: flex;
  width: 100%;
  padding: 0 57px 63px 57px;
  gap: 33px;
  justify-content: space-between;
}

h1 {
  font-size: 24px;
  font-weight: 800;
  color: var(--text-color-links);
  margin-bottom: 26px;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  color: #81afdd;
  line-height: 30px;
}

.chatbots,
.knowledgebase,
.education {
  max-width: 334px;
}

.table {
  padding-top: 200px;
  max-width: 1170px;
  display: flex;
  position: relative;
}

.infos-table-title {
  max-width: 426px;
  width: 100%;
  font-size: 34px;
  font-weight: 800;
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 138px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title {
  font-size: 18px;
  min-width: 180px;
  color: var(--text-color-links);
  font-weight: 800;
  padding-bottom: 52px;
  margin-right: 100px;
}

.card-description {
  font-size: 14px;
  font-weight: 500;
  color: #81afdd;
  padding-bottom: 52px;
}

#section-table-background {
  width: 777px;
  height: 777px;
  position: absolute;
  background-image: url(/assets/blur-section-infos-table.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
  left: -20vw;
  top: 0;
}

.vr-image {
  display: flex;
  max-width: 1044px;
}
figure {
  margin-right: 19px;
}
figure img {
  width: 546px;
  height: 607px;
}

.text-right-figure {
}
